src/main/resources/sap/BAPI_PERSDATA_CHANGE.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--

    Mule Anypoint Template

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="BAPI_PERSDATA_CHANGE">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="import" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="ACADEMICGRADE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Title</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ARISTROCRATICTITLE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Other title</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BIRTHPLACE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Birthplace</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="COUNTRYOFBIRTH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Country of Birth</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DATEOFBIRTH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date of birth</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EMPLOYEENUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Personnel number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIRSTNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>First name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FORMOFADDRESS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Form-of-address key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FULLNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Full employee name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GENDER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Gender key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="IDNUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Personnel ID number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INITIALS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Employee's Initials</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KNOWNAS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Known As</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LANGUAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Language key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LANGUAGE_ISO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Language according to ISO 639</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LASTNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Last name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOCKINDICATOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Lock indicator for HR master record</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MARITALSTATUS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Marital status key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MARITALSTATUSSINCE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Valid from date of current marital status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MIDDLENAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Middle name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAMEATBIRTH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name at Birth</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAME_FORMAT_INDICATOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NATIONALITY" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Nationality</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NOCOMMIT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>COMMIT control at BAPI interface</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBEROFCHILDREN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of children</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="OBJECTID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Object ID</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RECORDNUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of Infotype Record</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RELIGION" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Religious denomination key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SECONDACADGRADE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Second title</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SECONDARISTROTITLE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Other Title for Birth Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SECONDNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Second name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SECONDNAMEPREFIX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Second name prefix</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SECONDNATIONALITY" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Second nationality</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STATEOFBIRTH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>State</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SUBTYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Subtype</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SURNAMEPREFIX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name Prefix</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="THIRDNATIONALITY" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Third nationality</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UPDATE_ONLY_GBDAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Flag: Only Update on GBDAT</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VALIDITYBEGIN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Valid from date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VALIDITYEND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Valid To Date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="export" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="RETURN" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="TYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Text</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: log number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: Internal message serial number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
</xsd:schema>